*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    /* overflow: hidden; */

    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* font-family: 'Playfair Display', serif; */

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

/* Header 
========================= */
.header {
    background: url(../img/header/header-bg.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    padding-top: 26px;
}
.logo {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    
}

.menu li {
    list-style-type: none
}
.menu li a {
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 25px;
    color: #f7f7f9;
    font-size: 13px;
    font-weight: 700;
}
.menu li a:hover {
    color: #00e0d0;
    transition: 0.2s linear;
}

.logo__name {
    font-size: 37px;
    color: #01dfd0;
    font-weight: 100;
    
}

/* header inner */
.header__inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
}

h1 {
    color: #fff;
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    font-weight: 700;
}

h1::after {
    content: '';
    display: block;
    height: 1px;
    width: 50px;

    background-color: #00e0d0;

    margin: 0 auto ;
    margin-top: 25px;
}

.header__suptitle {
    width: 814px;
    height: 62px;

    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
    line-height: 1.7;
    margin-bottom: 50px;
}

.btn {
    padding: 13px 31px;
    border: 1px solid #00e0d0;
    color: #00e0d0 ;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: 400;

    

}

.btn:hover {
    background-color: #00e0d0;
    color: #fff;
    transition: .2s linear;
}


/*  Section Story
========================== */
.section__story {
    height: 100%;   
    max-height: 409px;
}
.story__inner {
    display: flex;
    justify-content: space-around;
     
    padding: 60px 0;
}
.story__img {
    
}
.story__suptitle {
    width: 100%;
    max-width: 540px;
    font-size: 14px;
    color: #413d4b;
    height: 146px;
    text-align: left;
}
.button {
    margin-top: 30px;
}

/* Section Watch
========================= */
.section__watch {
    background-image: url(../img/Watch_story/watch_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 550px;

    position: relative;
}

.watch__story {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    cursor: pointer;
}

.watch__text {
    color: #fff;
}

/*  Section expertise 
=============================*/
.section__expertise {
    height: 758px;
}

.main__slogan {
    text-align: center;
    margin-top: 70px;
}
.main__title {
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.1px;
}
.main__suptitle {
    opacity: 0.75;
    font-size: 14px;
    font-weight: 400;
    color: #2f2d35;
}
.main__title,
.main__suptitle {
    margin: 0;
}


/* 
============================*/
.expertise__inner {
    display: flex;
    flex-wrap: wrap;

    /* max-width: 316px; */
    margin: 0 auto;

    align-items: center;
    margin-top: 60px;
}
.exp__item {
    text-align: center;
    flex: 1 1 calc(33.33% - 30px);
    padding: 0;
    margin: 0;
    width: 320px;
    height: 258px;
    border-right:1px solid blue;
    border-bottom: 1px solid #000;

    
}

.item__img {
    margin-top: 30px;
}
.item__title {
    margin-top: 15px;
}
.item__suptitle {
    margin-top: 15px;
}

.exp__item:last-child {
    border: 0;
}
.del__border-right {
    border-right: 0;
}
.del_border-b {
    border-bottom: 0;
}