
*,
*::after,
*::before {
    content: '';
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

  /* HEADER */  

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url("../img/bg1.png");
    background-size: cover;
    height: 100vh;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-top: 30px;
    
}

.logo__header{
   position: absolute;
   padding-left: 40px;
}

.header__text {
    font-size: 34px;
    padding-top: 8px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header__nav{
   display: flex;
   
   
}

.header__nav  li {
    list-style-type: none;
    margin-left: 20px;
    
}

.header__nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.header__nav li a:hover {
    opacity: 0.5;
    transition: .2s linear;
}


    /*               NAV               */    

.inner__text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.inner__subt {
 font-size: 36px;
 font-family: 'Raleway', sans-serif;
}


.inner__title {
    font-size: 52px;
    font-weight: 700;
    padding: 11px;
    
}


.inner__text p {
    white-space: pre-line ;  
    font-family: 'Raleway', sans-serif;
    font-size: 16px ;
    margin-bottom: 50px;
 }

 /*       BUTTON          */

.btn {
    padding: 15px  40px;
    background-color: #998675;
    border-radius: 5px;
    
    text-align: center;

    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    color: white;
    text-transform: uppercase;
}

.btn:hover {
    transition: .1s linear;
    box-shadow: 0 12px 16px 0 rgba(250, 246, 246, 0.24), 0 17px 50px 0 rgba(230, 227, 227, 0.19);
}

/*   */

.waxon__items {
    display: flex;
    justify-content: center;
    align-items: center;
    
    text-align: center;
    height: 370px;
}

.wx__items {
    flex: 1 1 0;
}

.name__item {
    margin-top: 20px;
}

.wx__items p {
    white-space: pre-line ;
    padding: 0;
    margin: 0;
}

/*  About Waxon */
.section__about-wx {
    background-color: #fbfaf8;
    
}

.about__waxon {
    position: relative;
    height: 700px;
}

.waxon_title {
    text-align: center;
    padding-top: 50px;
    
}

.waxonh3 {
    font-size: 28px;
    font-family: 'Raleway', sans-serif;
}

.waxon_title p {
    white-space: pre-line ;
    line-height: 2;
    
}

.waxon_img {
   display: flex;
   justify-content: center;
   width: 100%;
   max-width: 1200px;
}
.img1 {
    width: 630px;
    max-height: 400px;
}

.img2 {
    width: 630px;
    max-height: 400px;
}

.waxon_img2 {
    position: absolute;
    top: 30%;
    right: 18%;
}

.img3 {
    
    max-height: 482px;
}


/*  Waxon Theme  */
.section__theme {
    background-color: #241d1a;
    height: 150px;
}
.wx___theme {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 20px;
   
}

.wx_text {
    display: block;
    margin-right: 209px;
    
}

.name_theme {
    font-size: 25px;
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-bottom: 5px;
}
.name_theme span {
   color:  #af9c86;
}

.name__subt {
    padding: 0;
    margin: 0;
    color: #615855;
    font-size: 17px;
}

.button {
    margin-top: 14px;
    
}

.button a {
    
    text-decoration: none;
    text-transform: uppercase;
    color:#fff;
    padding: 15px 40px;
    background-color: #998675;
    border-radius: 4px;

    box-shadow: 0px 5px 0px #736357;
}

/* Our Latest */

.wx__slide {
    text-align: center;
    width: 100%;
    margin-bottom: 30px ;
}

.slide  {
    
    display: inline-block;
    margin-left: 25px;
}

.slide a {
    color: #998675;
    
    border-radius: 5px;
    padding: 6px 16px;
    border: 1px solid #ebebeb;

    text-decoration: none;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;


}

.slide a:hover {
    background-color: #998675;
    color: #fff;
    transition: .2s linear;
}

.wx_photo {
    display: flex;
    justify-content: space-between;
}

.slide_img1 {
    height: 243px;  
}

.slide_img_all {
  height: 238px;  
  width: 371px; 
}

.under__ph {
    background-color: #FBFAF8;
    
}

.slide_text {
  font-size: 20px;
  color: #C7B299;
}

.slide_parag {
  font-size: 14px;
  color: #D1D1D1;

}

/* Footer */
footer {
    background-color: #111111;
}

.under {
    display: flex;
    justify-content: space-between;
    
    height: 112px;
    align-items: center;
    
}

.copyr {
    font-size: 13px;
    color: #525252;
}

strong {
    color: #747474;
}